*{margin: 0;
  color: whitesmoke;
  text-decoration: none;
 }

 .main{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(image/wp9353954-anime-aot-ps4-wallpapers.png);
  background-position: center;
  background-size:cover;
  height: 100vh;
  background-attachment: fixed;
 }

.navbar{
 background-image: url(image/attack-on-titan-pictures-uk5xzd7go5nb00sj.jpg);
 font-family: Arial, Helvetica, sans-serif;
 padding: 30px;
 border-radius: 50px;

} 
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo a{
  font-size: 35px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color: yellow;
  color: black;
  padding: 20px;
  border-radius: 50px;
  transition: background-color 0.5s,color 0.5s,box-shadow 0.5s;
   
}

.logo a:hover{
  background-color: red;
  color: white;
  box-shadow: 0px 20px 15px 20px rgba(0, 0, 0, 0.5);
}

li{
  list-style: none;
  display: inline-block;
}
li a{
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  transition: box-shadow 0.5s;
}

li a:hover{
  
  box-shadow: 0px 0px 20px 6px rgb(255, 255, 255);
}


button{
  background-color: rgb(227, 58, 58);
  margin-left:10px;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  transition: background-color 0.5s;
}

button:hover{
   background-color: rgb(61, 61, 255);
}


button a{
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.par{
  display: inline-block;
  width: 900px;
}

.par h1{
  padding-top: 35px;
  padding-bottom: 20px;
  margin-left: 50px;
  font-size: 100px;
  margin-right: 120px;
  text-align: center;
  border-radius: 100px;
  margin-top: 30px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.par h1:hover{
  box-shadow: -1px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.par p{
  margin-left: 50px
}

.se{
  font-size: 50px;
  position: relative;
  left: 50px;
  padding-bottom: 20px;
}

.pa2{
  font-size: 20px;
}

.pa3{
  padding-top: 20px;
  font-size: 25px;
  color: rgb(204, 186, 186);
}

.photo{
  display: flex;
}
 
.photo img{
  width: 350px;
  padding-left: 20px;
  height: 190px;
  padding-top: 10px;
  transition: transform 0.5s;
  
}
.photo img:hover{
  transform: scale(1.1);
}

.par4{
  padding: 20px;
  margin-top: 10px;
   font-size: 20px;
   box-shadow:-1px 2px 20px 18px rgba(0, 0, 0, 0.5); 
  }

 
